<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Page Potin !</h1>
    <a>Voici la page du potin <%=id%></a>
    
  <p>
    Son auteur : <%= gossip.author %><br/>
    Le contenu du Potin : <%= gossip.content %>
  </p>

    <a href='/'>retour à l'accueil</a>
  </body>
</html>

