<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Page Potin !</h1>
    <a>Voici la page de l'article  <%=id%></a>
    
  <p>
    Son auteur : <%= gossip.author %><br/>
    Le contenu du Potin : <%= gossip.content %></br>
    
    <a href='/gossips/edit'>Modifier le potin</a>
  </p>

    <a href='/'>Retour à l'accueil</a>
  </body>
</html>

